<nav class="navbar navbar-default navbar-inverse" class="container-fluid">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-link="['List']">At the Movies</a>
    </div>
    <ul class="nav navbar-nav navbarleft">
      <!-- <li class="active"><a href="#">Home</a></li>  -->
      <li><a ng-link="['List']" >List</a></li>
      <li><a ng-link="['About']" >About</a></li>
    </ul>
  </div>
</nav>

<div class="container">

<ng-outlet></ng-outlet>

</div>