<h3>Details for: {{ model.id }} </h3>

   <ul>     
 	  <li><a ng-link="['Overview']" >Overview</a></li>
      <li><a ng-link="['Cast']">Cast</a></li>
          <li><a ng-link="['Director']" >Director</a></li>
    </ul>

<!-- used to load different components based on the url -->
    <ng-outlet></ng-outlet>

