
<div>

<table class = "table">
<tr>
<th>Title</th>
<th>Length</th>
<th>Rating</th>
<th></th>
</tr>

<tr ng-repeat="movie in model.movies">
<td>{{movie.title}}</td>
<td>{{movie.length}}</td>

<td> <movie-rating value="movie.rating" ng-model=movie.value max="5"
		set-rating="model.setRating(movie, value)">	
</movie-rating> </td>
<td>
	
	<button class="btn btn-default" ng-click="model.upRating(movie)">
	<span class="glyphicon glyphicon-plus"></span>

	</button>
	<button class="btn btn-default" ng-click="model.downRating(movie)">
	<span class="glyphicon glyphicon-minus"></span>

	</button>

	<buton ng-click="model.goTo(movie.id)" class="btn btn-default"> 
		<span class="glyphicon glyphicon-zoom-in"></span>
	</button>
	

</td>

</tr>

</table>

<accordion>
	<accordion-panel heading="Panel 1">
		This is Panel1
	</accordion-panel>

	<accordion-panel heading="Panel 2">
	This is Panel2
	</accordion-panel>
</accordion>


</div>

